CHANNEL_URL=https://ble.ir/s/akharinkhabar
MAX_SCROLLS=500
SCROLL_PAUSE=2

BALE_BOT_CHAT_ID=

BALE_BOT_TOKEN=
BALE_WEBHOOK_SECRET=
PUBLIC_WEBHOOK_URL=https://bot.m-hosseinpour.ir/webhook/news-bot

SUMMARIZE_BATCH=3

OPEN_AI_MODEL_NAME=deepseek-v4-flash
OPEN_AI_BASE_URL=https://api.avalai.ir/v1
OPEN_AI_API_KEY=

# Selenium / Firefox
HEADLESS=true
DISABLE_IMAGES=true
PAGE_LOAD_TIMEOUT=45
WEBDRIVER_WAIT_TIMEOUT=20

# بعد از چند fetch، Firefox restart شود
# اگر RAM کم است، مثلاً 5 بگذار
# اگر نمی‌خواهی restart شود، 0 بگذار
MAX_DRIVER_REUSE=20
